streamlit
pypdf
langchain-google-genai
python-dotenv
langchain
langchain-community
pypdf2
langchain_groq
langchain_together
langchain-community
langchain_experimental
st-gsheets-connection
pandas
#sentence-transformers
faiss-cpu







